.chat-window {
  min-height: 100vh;
}

.mg-bottom {
  height: px2html(26px);
  width: 100vw;
  // background: #F7F7F7; 这里无需 加背景
}

.speed-of-progress {
  background: #F7F7F7;
  height: px2html(26px);
  width: 100vw;
  font-size: px2html(12px);
  line-height: px2html(17px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  .bar-template {
    width: px2html(303px);
    height: px2html(6px);
    background: #E6E6E6;
    border-radius: px2html(3px);
    overflow: hidden;
    .bar {
      transition: .5s linear;
      height: 100%;
      width: 0%;
      background: #2EA1FF;
      border-radius: px2html(3px);
    }
  }
  .counter {
    margin-right: px2html(16px);
    color: #333333;
    margin-left: px2html(16px);
  }
}

.chat-template {
  padding-bottom: 10vh;
  .request:first-of-type {
    margin-top: px2html(10px);
  }
  .request {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: px2html(20px);
    .head-pic {
      width: px2html(44px);
      border-radius: 50%;
      margin-left: px2html(12px);
    }
    .content {
      box-shadow: 0px px2html(2px) px2html(16px) rgba(230, 230, 230, 0.5);
      // margin-top: px2html(20px);
      margin-left: px2html(12px);
      max-width: px2html(231px);
      width: max-content;
      background: #fff;
      border-radius: px2html(5px);
      overflow: hidden;
      position: relative;
      text-align: left;
      box-sizing: border-box;
      padding-left: px2html(20px);
      .type {
        color: #999999;
        font-size: px2html(12px);
        line-height: px2html(17px);
        margin-top: px2html(8px);
      }
      .title {
        width: 100%;
        box-sizing: border-box;
        padding-right: px2html(20px);
        font-size: px2html(14px);
        line-height: px2html(20px);
        color: #000000;
        margin-bottom: px2html(10px);
        margin-top: px2html(3px);
      }
      .dirvide {
        width: 120%;
        height: px2html(1px);
        background: #E6E6E6;
        transform: translateX(-20px);
      }
      .choices {
        font-size: px2html(14px);
        line-height: px2html(20px);
        color: #000000;
        width: 100%;
        .options {
          width: 100%;
          padding: px2html(15px) 0px;
          padding-right: px2html(20px);
          border-bottom: px2html(1px) solid #E6E6E6;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          .circle-template {
            width: px2html(18px);
            height: px2html(18px);
            box-sizing: border-box;
            border: px2html(1px) solid #999999;
            border-radius: 50%;
            margin-right: px2html(10px);
            @include flexCenter;
            .circle {
              width: px2html(8px);
              height: px2html(8px);
              background: #2EA1FF;
              border-radius: 50%;
            }
          }
        }
        .options:last-of-type {
          border: unset;
        }
      }
    }
  }

  .response {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: px2html(20px);
    .head-pic {
      width: px2html(44px);
      border-radius: 50%;
      margin-left: px2html(12px);
      margin-right: px2html(12px);
    }
    .content {
      box-shadow: 0px px2html(2px) px2html(16px) rgba(230, 230, 230, 0.5);
      // margin-top: px2html(18px);
      max-width: px2html(231px);
      display: flex;
      justify-content: flex-end;
      border-radius: px2html(5px);
      font-size: px2html(14px);
      background-color: #fff;
      .text {
        color: #000000;
        border-radius: px2html(5px) 0px 0px px2html(5px) ;
        background-color: #fff;
        max-width: content-box;
        box-sizing: border-box;
        padding: px2html(13px) px2html(16px);
        text-align: justify;
      }
      .replay {
        border-radius: 0px px2html(10px) px2html(10px) 0px;
        background-color: #fff;
        @include flexCenter;
        min-width: px2html(42px);
        border-left: px2html(1px) solid #E6E6E6;
        img {
          width: px2html(12px);
        }
      }
    }
  }
}

.bottom-bar {
  background: #F7F7F7;
  position: fixed;
  bottom: 0px;
  left: 0px;
  @include flexCenter;
  width: 100vw;
  overflow: hidden;
  padding-top: px2html(10px);
  .btn {
    margin-bottom: px2html(10px);
    width: px2html(231px);
    height: px2html(41px);
    background-color: #2EA1FF;
    border-radius: px2html(21px);
    @include flexCenter;
    font-size: px2html(14px);
    color: #fff;
    line-height: px2html(20px);
  }
}
